.title {
  font-size: 55px;
  color: white;
}

.description {
  font-size: 45px;
  color: white;
}

.container {
  margin-top: 15rem;
}

.tech {
  margin-top: 15rem;
}
@media (max-width: 768px) {
  .title {
    font-size: 30px;
    color: white;
  }

  .description {
    font-size: 20px;
    color: white;
  }
}

.carouselItem {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.carouselImage {
  display: block;
  margin: 10px;
  width: 100px;
  height: 100px;
  object-fit: contain;
}

.image {
  transition: transform 0.2s;
  filter: grayscale(100%);
}

.image:hover {
  transform: scale(1.2);
  filter: none;
}

.techImage {
  margin-right: 1rem;
}

.icon {
  transition: filter 0.3s;
}
.icon:hover {
}

@media (max-width: 1024px) {
  .icon {
    width: 32px;
    height: 32px;
  }
}
@media (max-width: 768px) {
  .icon {
    width: 16px;
    height: 16px;
  }
}

@media (max-width: 490px) {
  .icon {
    width: 12px;
    height: 12px;
  }
}
